/* .section {
	border: 2px solid;
	padding: 1rem 2rem;
}

.section + .section {
	margin-top: 1rem;
}

.currentWord {
	text-align: center;
	font-size: 2rem;
}

.actions-panel {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

[class$="-btn"] {
	padding: 1rem;
	color: black;
	font-weight: 800;
	font-family: inherit;
}

[class$="-btn"]:hover {
	filter: brightness(2);
}

[class$="-btn"]:disabled {
	filter: grayscale(1);
}

.accentColor {
	color:  rgb(198, 140, 222);
}

.addLetter-btn {
	background-color: rgb(198, 140, 222);
	border: none;
}

.addLetter-input {
	width: 2ch;
	height: 100%;
	font-size: 2rem;
	text-align: center;
	font-family: inherit;
}

.addLetter-container {
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.challenge-btn {
	background-color: rgb(238, 138, 98);
	border: none;
}

.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
} 

/* https://css-tricks.com/inclusively-hidden/ */

.section, h1, h2 {
	text-align: center;
}

.section {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.appContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

.currentWord {
	display: block;
	min-height: 1rem;
	min-width: 1ch;
}

.currentWord--letter, .letterInput {
	display: inline-block;
	padding: .5rem;
	border-bottom: 2px dotted black;
	font-size: 2rem;
}

.currentWordContainer {
	display: flex;
	justify-content: center;
}

button, input {
	background: none;
	border: 1px solid black;
}

ul, li {
	list-style: none;
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}