/* :root {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*/

@font-face {
  font-family: "monoselect";
  src: url('assets/SelectMono-Italic.woff') format('woff');
}

* {
  font-family: monoselect;
  font-size: 14px;
}

@media (min-width:480px) {
  #root {
    margin: 0 auto;
    padding: 1rem 2rem;
  }
}

@media (min-width:800px) {
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 3rem 12rem;
  }
}

#root {
  display: flex;
  justify-content: center;
}

body, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.playerList {
  text-align: center;
}